<div class="nested-fields">
  <%= f.input :company %>
  <%= f.input :position %>
  <%= f.input :startYear %>
  <%= f.input :endYear %>
  <%= f.input :current %>
  <%= link_to_remove_association "remove workplace", f %>
</div>