<div class="user">
  <div class="info">
    <div class="profile-picture">
      <%= image_tag @user.avatar.url(:medium), :class => "profile-image" %>
    </div>
    <div class="text">
      <div class="name"><%= @user.name %></div>
      <div class="workplaces">
        <% @user.workplaces.each do |workplace| %>
          <div class="workplace">
            <%= workplace.company %> - 
            <%= workplace.position %>
          </div>
        <% end %>
      </div>
      <div class="appreciation">
        <%= render "icons/heart" %>
        <span class="appreciations"><%= @user.appreciation %></span>
        of
        <%= @user.name.split[0] %>'s
        comments were appreciated
      </div>
    </div>
    <% if @user != current_user %>
      <div class="buttons">
        <div class="button follow">
          <%= link_to "Follow", follow_user_path, :method => :put %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="projects"></div>
  <div class="feedback"></div>
</div>