<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
    <% @project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= simple_form_for(@project, html: { class: 'form-horizontal', multipart: true }) do |f| %>

  <%= f.input :name %>
  <%= f.input :logo %>
  <%= f.input :headline %>
  <%= f.input :description %>
  <% members_paths = ''
     @project.members.each do |member|
       members_paths += request.base_url + user_path(member.user) + "\n"
     end
  %>
  <%= f.input :members, :as => :text, input_html: {value: members_paths, cols: 80, rows: 4} %>
  <h3>Images</h3>
  <%= f.simple_fields_for :images do |image| %>
    <%= render 'image_fields', f: image %>
  <% end %>
  <div>
    <%= link_to_add_association 'add image', f, :images %>
  </div>
  <%= f.button :submit %>
<% end %>
