<div class="new-project">
  <div class="title">Add a new project</div>
  
  <%= simple_form_for(@project, html: { class: "new-project-form" }, defaults: { label_html: { class: "new-project-label" }, input_html: { class: "new-project-input" }, wrapper_html: { class: "new-project-wrapper" }, error: false }) do |f| %>

    <%= f.input :name, label: "How is your project called?", input_html: { class: "new-project-input new-project-input-name" } %>
    <%= f.input :headline, as: :text, label: "Present your project’s unique key selling phrase in 140 characters.", input_html: { maxlength: 140, cols: 50 }%>
    <%= f.input :logo, label: "Insert the logo of your project", input_html: { accept: "image/*", class: "new-project-input-logo" }, wrapper_html: { class: "new-project-wrapper-logo" } %>
    <label class="fake-logo-input" for="project_logo">Upload Logo</label>
    <%= f.input :description, input_html: { cols: 50 } %>
    <%= f.input :members, :as => :text, input_html: {value: "", cols: 50, rows: 4} %>
    <h3>Images</h3>
    <%= f.simple_fields_for :images do |image| %>
      <%= render 'image_fields', f: image %>
    <% end %>
    <div>
      <%= link_to_add_association 'add image', f, :images %>
    </div>
    <%= f.button :submit %>
  <% end %>
</div>

