<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
  <%= image_tag(@project.logo.url(:medium)) %>
</p>
<%= @project.get_likes.size %> likes
<br>
<% if user_signed_in? %>
  <% if current_user.voted_for? @project %>
    <%= link_to "Unlike", like_project_path(@project), method: :put %>
  <% else %>
    <%= link_to "Like", like_project_path(@project), method: :put %>
  <% end %>
<% end %>
<p>
  <strong>by:</strong>
  <%= @project.user.name %>
</p>
<div>
<p>
  <strong>Headline:</strong>
  <%= @project.headline %>
</p>
<strong>Tags:</strong>
<ul>
  <% @project.tags.each do |t| %>
    <li><%= link_to t, tag_path(t) %></li>
  <% end %>
</ul>
<strong>Description:</strong>
<%= renderer.render(@project.description).html_safe %>
</div>

<strong>Images:</strong>
<ul>
  <% @project.images.each do |i| %>
    <li><%= image_tag(i.image.url(:original)) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= simple_form_for [@project, Feedback.new] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, label: "Give feedback" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>

<p><%= @project.feedbacks.count %> people have given feedback so far</p>

<%= render @project.feedbacks %>
