<div class="col-xs-12 feedback">
  <h4><%= image_tag(feedback.user.avatar.url(:thumb)) %><%= link_to feedback.user.name, user_path(feedback.user) %></h4>
  <%= md_render feedback.content %>
  <br>
  <%= feedback.get_likes.size %> likes
  <br>
  <% if user_signed_in? && feedback.user != current_user %>
    <% unless current_user.voted_for? feedback %>
      <%= link_to "Like", like_project_feedback_path(@project, feedback), method: :put %>
    <% else %>
      <%= link_to "Unlike", like_project_feedback_path(@project, feedback), method: :put %>
    <% end %>
  <% end %>
</div>