<div class="feedback-content">
  <div class="feedback-profile-photo">
    <%= image_tag(feedback.user.avatar.url(:thumb), :class => "feedback-profile-image") %>
  </div>
  <div class="appreciation">
    <%= link_to like_project_feedback_path(@project, feedback), :method => :put do %>
      <%= render "icons/heart_like", like: (current_user.voted_for? feedback)%>
    <% end %>
    <%= feedback.get_likes.size %>
  </div>
  <div class="feedback-text">
    <div class="feedback-user"><%= feedback.user.name %></div>
    <div class="feedback-content-text"><%= md_render feedback.content %></div>
  </div>
  <div class="reply">
    <%= render "icons/reply" %>
  </div>
</div>
<div class="replies">
  <%= render feedback.replies %>

  <%= simple_form_for [@project, feedback, Reply.new], :html=> { class: "reply-form" } do |f| %>
    <%= f.input :content, placeholder: "Reply to #{feedback.user.name.split[0]}", label: false, required: false, input_html: { class: "reply-form-input" } %>
    <%= f.button :submit, "Submit", class: "reply-form-submit" %>
  <% end %>
</div>