<div class="col-xs-12 feedback">
  <h4><%= image_tag(feedback.user.avatar.url(:thumb)) %><%= feedback.user.name %></h4>
  <%= feedback.content %>
  <br>
  <%= @project.get_likes.size %> likes
  <br>
  <% if user_signed_in? %>
    <% if current_user.voted_for? feedback %>
      <%= link_to "Unlike", like_project_feedback_path(@project, feedback), method: :put %>
    <% else %>
      <%= link_to "Like", like_project_feedback_path(@project, feedback), method: :put %>
    <% end %>
  <% end %>
</div>